html, body {
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    }

.top-container {
    padding-top: 10%;
    color: #150407;
    font-weight:bolder;


    }

.general-container {
    background: url("img/bg_top.jpg");
    height: 100%;
    }

.general-container form {
    margin-top: 20px;
}


.general-container form label{
    margin-left: 10px;
    font-weight:bold;
    color: rgba(9, 54, 122, 0.85);

}

.btn-blue{
    margin-left: 10px;
    background: rgba(56, 97, 157, 0.85);

}
.btn-blue:hover{
    background: #0a53be;
}



.title{
    color: rgba(3, 36, 86, 0.85);
    text-align: center;
    line-height: 20px;
    font-weight: bold;

}