<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap"
          rel="stylesheet">

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">


    <link rel="shortcut icon"
          href="https://www.flaticon.com/free-icons/shortcut" title="shortcut icons">

    <link href="{% static 'style_b.css' %}" rel="stylesheet">


</head>

<body>
<div class="wrapper">
    <div class="wrapper-content">
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock content %}
    </div>

</div>

{% include 'footer.html' %}

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

<script src="{% static 'js/scripts.js' %}"></script>


</body>
</html>

